# Docker-артефакты
*.log
*.pid

# Игнорируем временные файлы и кеш
*.tmp
*.bak
*.swp
*.swo

# IDE и редакторы
.idea/
.vscode/

# MacOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
desktop.ini

# Redis cluster data
/data/redis-node*/dump.rdb
/data/redis-node*/appendonlydir/
/data/redis-node*/nodes.conf

# Общие данные Redis (если вдруг появятся)
appendonly.aof
*.rdb
*.aof
nodes.conf
